<section class="hero relative h-screen w-full bg-cover bg-center flex flex-col items-start justify-center gap-6 px-4 sm:px-8 md:px-24">
  
  <!-- Logos -->
  <div class="absolute top-4 right-4 flex items-center gap-3 sm:gap-4 z-20">
    <img src="assets/logo1.png" alt="Logo ayuda restauración de coral" class="h-8 sm:h-10 w-auto opacity-90" />
    <img src="assets/simawhite.png" alt="Logo ayuda restauración de coral" class="h-8 sm:h-10 w-auto opacity-90" />
  </div>

  <!-- Hero text -->
   <h1 class="text-white font-serif tracking-wide leading-[1.1] relative z-20
             text-center sm:text-left
             text-6xl sm:text-6xl md:text-8xl
            ">
    <span class="block">ISLAND</span>
    <span class="block">OF</span>
    <span class="block">SWALLOWS</span>
  </h1>

  <!-- Quotes abajo a la derecha -->
  <div class="absolute bottom-4 sm:bottom-10 right-4 sm:right-10 flex flex-col items-end space-y-2 z-30">
    <p *ngFor="let quote of visibleQuotes; let i = index" [style.opacity]="getOpacity(i)" class="typewriter text-white font-serif text-sm sm:text-lg md:text-xl transition-opacity duration-2000">
      {{ quote }}
    </p>
  </div>

</section>



