<section id="synopsis" class="relative w-full py-16 px-4 sm:px-8 md:px-32 overflow-hidden">

  <!-- Video background -->
  <video autoplay loop muted playsinline class="absolute inset-0 w-full h-full object-cover z-0"  >
    <source src="assets/backk.mp4" type="video/mp4" />
  </video>

  <!-- Navigation -->
  <nav class="relative z-10  flex flex-col items-center space-y-4">
    <ul class="hidden sm:flex flex-col sm:flex-row sm:space-x-6 font-semibold text-sm sm:text-base cursor-pointer space-y-2 sm:space-y-0">
    <li (click)="scrollTo('synopsis')" class="relative after:block after:h-0.5 after:bg-stone-800 after:w-0 after:transition-all after:duration-300 hover:after:w-full">
      Synopsis
    </li>
    <li (click)="scrollTo('cast')" class="relative after:block after:h-0.5 after:bg-stone-800 after:w-0 after:transition-all after:duration-300 hover:after:w-full">
      Cast
    </li>
    <li (click)="scrollTo('acts')" class="relative after:block after:h-0.5 after:bg-stone-800 after:w-0 after:transition-all after:duration-300 hover:after:w-full">
      Acts
    </li>
    <li (click)="scrollTo('team')" class="relative after:block after:h-0.5 after:bg-stone-800 after:w-0 after:transition-all after:duration-300 hover:after:w-full">
      Team
    </li>
  </ul>

    <!-- Social icons -->
    <div class="flex space-x-4 mt-8 sm:mt-6">
      <a href="https://www.instagram.com/islandofswallows" target="_blank" rel="noopener noreferrer" class="transition transform hover:scale-110">
        <img src="assets/insta.png" alt="Instagram" class="w-4 sm:w-5 h-4 sm:h-5 opacity-80 hover:opacity-100" />
      </a>
      <a href="https://simastudios.org/fiscal-sponsorship/island-of-swallows"  target="_blank" rel="noopener noreferrer" class="transition transform hover:scale-110">
        <img src="assets/sima.png" alt="Sima Studio Logo" class="w-10 sm:w-12 h-4 opacity-80 hover:opacity-100" />
      </a>
    </div>
  </nav>

  <!-- Intro text -->
  <p class="mt-10 text-center text-2xl sm:text-3xl md:text-4xl font-semibold italic z-10 relative">

    As cruise ships devastate the coral reefs in the island of Cozumel and the local government plans to expand the tourism industry, a marine biologist’s fight for survival collides with a family’s search for paradise

  </p>

  <hr class="mt-12 border-t border-gray-800 mb-12 relative z-10" />

  <!-- Grid content -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 z-10 relative">
    <!-- Column 1 -->
    <div>
      <img src="assets/poster.png" alt="Island of Swallows Logo coral protection film" class="w-full object-contain" loading="lazy" />
    </div>

    <!-- Column 2 -->
    <div class="flex flex-col space-y-4">
      <span class="text-sm text-gray-400">| synopsis</span>
      <p class="text-base sm:text-lg md:text-xl text-justify font-semibold">
        Set in Cozumel, Mexico, this documentary follows two parallel threads: Germán, a solitary diver restoring coral reefs by hand, and an American family on a short holiday cruise, navigating the well-worn contours of leisure. One moves slowly, deliberately, embedded in the rhythms of the sea; the other is swept along by the temporal economy of break-time, itinerary, and return.
      </p>
      <p class="text-base sm:text-lg md:text-xl text-justify font-semibold">
        When their paths converge—during a reef dive led by Germán—a submerged reality begins to surface. What appeared as a backdrop to a tropical escape is in fact collapsing. The corals are not dying—they are already dead in many places, and what remains is held together by threads of labor, memory, and one man’s impossible commitment.
      </p>
      <p class="text-base sm:text-lg md:text-xl text-justify font-semibold">
        The film unfolds as a meditation on purpose and escapism—two parallel forces that shape how we choose to live, or look away.
      </p>
    </div>
  </div>

  <!-- Director, Year, Button -->

 <!-- <div id="cast" class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-8 z-10 relative">
    <div class="flex flex-col md:flex-row items-center md:items-start overflow-hidden transition-transform duration-300 hover:scale-105">
      <img src="assets/guzman.png" alt="German Mendex, restauración de coral maritimo" class="w-full md:w-48 h-48 object-cover" />
      <div class="p-6">
        <h3 class="text-xl font-bold mb-2">Germán Méndez</h3>
      </div>
    </div>

    <div class="flex flex-col md:flex-row items-center md:items-start overflow-hidden transition-transform duration-300 hover:scale-105">
      <img src="assets/toursit.jpg" alt="Familia turista disfrutando sus vacaciones en Cozumel en Island of Swallows" class="w-full md:w-48 h-48 object-cover" />
      <div class="p-6">
        <h3 class="text-xl font-bold mb-2">Tourist Family</h3>
      </div>
    </div>
  </div>-->

  <a href="#synopsis">Ver Sinopsis del Documental</a>
<a href="#team">Conoce al Equipo</a>

</section>
